<dl>
  <dt>
    <span>Time.now</span>
  </dt>
  <dd><%= Time.now %></dd>
  <dt>
    <span>OmniAuth Hash</span>
  </dt>
  <dd><%= @omniauth.to_s %></dd>
  <dt>
    <span>Message</span>
  </dt>
  <dd><%= params[:message] || 'nil' %></dd>
  <dt>
    <span>Strategy</span>
  </dt>
  <dd><%= params[:strategy] || 'nil' %></dd>
  <dt>
    <span>Origin</span>
  </dt>
  <dd><%= params[:origin] || 'nil' %></dd>
  <dt>
    <span>Remote IP</span>
  </dt>
  <dd><%= request.remote_ip || 'nil' %></dd>
  <dt>
    <span>Remote Address</span>
  </dt>
  <dd><%= request.env['REMOTE_ADDR'] || 'nil' %></dd>
  <dt>
    <span>X-Forwarded-For</span>
  </dt>
  <dd><%= request.env['HTTP_X_FORWARDED_FOR'] || 'nil' %></dd>
  <dt>
    <span>Heroku-Request-ID</span>
  </dt>
  <dd><%= request.env['HTTP_HEROKU_REQUEST_ID'] || 'nil' %></dd>
  <dt>
    <span>User Agent</span>
  </dt>
  <dd><%= request.env['HTTP_USER_AGENT'] || 'nil' %></dd>
</dl>
