!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SmartHome
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    .container-fluid
      .row
        .container
          = render 'layouts/messages'
      .row
        .col-md-3.sidenav
          = render 'layouts/sidenav'
        .col-md-9
          = yield
    = render 'layouts/footer'
